/*
* Licensed Materials - Property of IBM
*
* "Restricted Materials of IBM"
*
* (C) Copyright IBM Corp. 2018 All Rights Reserved
*
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/mixins";

.search-analyzer-type-selector {
  display: block;
}

.search-index-page-loading {
  margin-top: 20px;
}

.edit-search-index-page-loading {
  margin-top: 25px;
}

.ace-editor-section .ace_editor {
  font-size: 13px;
  width: 100%;
  line-height: 22px;
}

.search-index-content {
  margin-bottom: 1rem;

  &> div {
    .fonticon-help-circled {
      margin-left: 4px;
      &:hover {
        color: $cf-brand-hightlight-hover;
      }
    }
  }
}

#search-index-preview-form {
  margin: 5px 0 20px;
  .input-append {
    vertical-align: bottom;
  }
  .help-link {
    display: inline-block;
    margin-left: 12px;
    padding-bottom: 23px;
  }
}
